
.button {
    font: inherit;
    color: black;
    padding: 0.25rem 1rem;
    margin: auto;
    cursor: pointer;
    border-radius: 10px;
  }
  
  .button:hover,
  .button:active {
    background: aquamarine;
    border-color: aquamarine;
  }
  
  .button:focus {
    outline: none;
  }

  .button.disabled {
    background: #ddd;
    border-color: #ddd;
    cursor: not-allowed;
  }

  @media only screen and (max-width: 768px) {
    .button {
      font-size: 14px;
      padding: 0.5rem 1rem;
      border-radius: 8px;
    }
  }

  @media only screen and (max-width: 480px) {
    .button {
      font-size: 12px;
      padding: 0.5rem 0.75rem;
      border-radius: 6px;
    }
  }