@keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .spinnerContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    text-align: center;
    margin: auto;

  }
  .loadingSpinner {
    width: 50px;
    height: 50px;
    border: 10px solid #f3f3f3;
    border-top: 10px solid aquamarine; 
    border-radius: 50%;
    animation: spinner 0.5s linear infinite;
  }
  